<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Analiza</title>
</head>
<body>
    <form id="text-form" action="/analiza" method="post">
        <textarea form="text-form" name="txt"></textarea>
        <br />
        <button type="submit">Analyze</button>
</body>
</html>
